extends components/layout

block content
  h1 Kontakt

  p.
    Füllen Sie das folgende Anfrage-, Buchungsformular möglichst vollständig
    aus.<br />
    Ihre Anfrage ist unverbindlich, Felder mit einem * müssen ausgefüllt werden.

  form(
    action="mailto:wolf.usingen@t-online.de?subject=Antwort ueber Ferienwohnungen-Frankfurt.com",
    method="post",
    name="Formular",
    enctype="text/plain",
    onsubmit="return chkFormular()"
  )
    h3 Anfrage / Buchungswünsche *

    fieldset 
      label vom
      +select("Vom T", 1, 31, true)
      +selectMonth("Vom M", true)
      +select("Vom J", 2020, 2040, true)

    fieldset
      label bis
      +select("Bis T", 1, 31, true)
      +selectMonth("Bis M", true)
      +select("Bis J", 2020, 2040, true)

    h3 Alternativer Zeitraum

    fieldset 
      label vom
      +select("Alternative vom T", 1, 31, false)
      +selectMonth("Alternative vom M", false)
      +select("Alternative vom J", 2020, 2040, false)

    fieldset
      label bis
      +select("Alternative bis T", 1, 31, false)
      +selectMonth("Alternative bis M", false)
      +select("Alternative bis J", 2020, 2040, false)

    h3 &nbsp;

    fieldset
      label Anzahl Erwachsene *
      +select("Erwachsene", 0, 6, true)

    fieldset
      label Anzahl Kinder
      +select("Kinder", 0, 6, false)

    fieldset
      label Haustiere ( nur auf Anfrage )
      +select("Haustiere", 0, 6, false)

    fieldset
      label Ferienwohnung *
      select(name="Wohnung", required)
        option
        option Egal
        option Gudrun
        option Hildegard
        option Gerlinde
        option Carina
        option Angela
        option Manuela
        option Mario

    h3 Absender

    fieldset
      label Anrede
      select(name="Anrede")
        option
        option Frau
        option Herr
        option Familie
        option Firma
    fieldset
      label Name
      input(name="Name", type="text")
    fieldset
      label Vorname
      input(name="Vorname", type="text")
    fieldset
      label Straße / Nr.
      input(name="Strasse / Nr", type="text")
    fieldset
      label PLZ / Ort
      input(name="Plz / Ort", type="text")

    fieldset
      label Firma
      input(name="Firma", type="text")
    fieldset
      label E-Mail *
      input(name="E_Mail", type="text", required)
    fieldset
      label Telefon
      input(name="Telefon", type="text")
    fieldset
      label Mobil
      input(name="Mobil", type="text")

    h3 Bemerkungen

    fieldset
      textarea(name="Bemerkungen", rows="5", wrap="virtual", cols="46") Hallo Familie Wolf

    fieldset
      input(type="submit", size="10", value="E-Mail senden")
      input(type="reset", size="10", value="löschen")
